.crt{
  background: linear-gradient(to top, #000000, #000000, #000e29, #0d1218);
  background-size: cover;
  background-size: 100% 1px;
  color: #00ff00;
  font-family: "Courier New", monospace;
  text-shadow: 0 0 10px #00ff00;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textcontainer{
    display: inline-block;
}
.text{
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    animation-name: typing;
    animation-duration: 1s;
    animation-timing-function: steps(200, end);
    animation-iteration-count: 1;
  
    &:nth-child(1) {
      animation-delay: 0s;
    }
  
    &:nth-child(2) {
      visibility: hidden;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }

    &:nth-child(3) {
      visibility: hidden;
      animation-delay: 4s;
      animation-fill-mode: forwards;
    }

    &:nth-child(4) {
        visibility: hidden;
        animation-delay: 6s;
        animation-fill-mode: forwards;
      }
    &:nth-child(5) {
        visibility: hidden;
        animation-delay: 8s;
        animation-fill-mode: forwards;
      }
    &:nth-child(6) {
        visibility: hidden;
        animation-delay: 10s;
        animation-fill-mode: forwards;
      }
    &:nth-child(7) {
        visibility: hidden;
        animation-delay: 12s;
        animation-fill-mode: forwards;
      }
    &:nth-child(8) {
        visibility: hidden;
        animation-delay: 14s;
        animation-fill-mode: forwards;
      }
    &:nth-child(9) {
        visibility: hidden;
        animation-delay: 16s;
        animation-fill-mode: forwards;
      }
    &:nth-child(10) {
        visibility: hidden;
        animation-delay: 18s;
        animation-fill-mode: forwards;
      }
      &:nth-child(11) {
        visibility: hidden;
        animation-delay: 20s;
        animation-fill-mode: forwards;
      }
      &:nth-child(12) {
        visibility: hidden;
        animation-delay: 22s;
        animation-fill-mode: forwards;
      }
      &:nth-child(13) {
        visibility: hidden;
        animation-delay: 24s;
        animation-fill-mode: forwards;
      }
      &:nth-child(14) {
        visibility: hidden;
        animation-delay: 26s;
        animation-fill-mode: forwards;
      }
      &:nth-child(15) {
        visibility: hidden;
        animation-delay: 28s;
        animation-fill-mode: forwards;
      }
      &:nth-child(16) {
        visibility: hidden;
        animation-delay: 30s;
        animation-fill-mode: forwards;
      }
      &:nth-child(17) {
        visibility: hidden;
        animation-delay: 32s;
        animation-fill-mode: forwards;
      }
      &:nth-child(18) {
        visibility: hidden;
        animation-delay: 34s;
        animation-fill-mode: forwards;
      }
      &:nth-child(19) {
        visibility: hidden;
        animation-delay: 36s;
        animation-fill-mode: forwards;
      }
      &:nth-child(20) {
        visibility: hidden;
        animation-delay: 38s;
        animation-fill-mode: forwards;
      }
      &:nth-child(21) {
        visibility: hidden;
        animation-delay: 40s;
        animation-fill-mode: forwards;
      }
      &:nth-child(22) {
        visibility: hidden;
        animation-delay: 42s;
        animation-fill-mode: forwards;
      }
      &:nth-child(23) {
        visibility: hidden;
        animation-delay: 44s;
        animation-fill-mode: forwards;
      }
      &:nth-child(24) {
        visibility: hidden;
        animation-delay: 46s;
        animation-fill-mode: forwards;
      }
  }

@keyframes cursor{
    50% { border-color:transparent }
}

@keyframes typing{
    from { width: 0; }
    to { width: 100%; visibility: visible; }
}

a{
    font-weight: bold;
    color:#00ff00;
}

a:hover{
    border: 2px solid #00ff00;
    background-color: #00ff00;
    color: #000e29;
}

input{
    background-color:#000e29;
    color: #00ff00;
    border: 1px solid #00ff00;
    box-shadow: 0 0 3px 2px #00ff00;
    font-family: "Courier New", monospace;
    font-size: medium;
    font-weight: bold;
    text-shadow: 0 0 10px #00ff00;
}
button{
    background-color: #000e29;
    color: #00ff00;
    border: none;
    font-family: "Courier New", monospace;
    font-size: medium;
    font-weight: bold;
    text-shadow: 0 0 10px #00ff00;
}
button:hover{
    background-color: #00ff00;
    color: #000e29;
    text-shadow: 0 0 10px #072f7f;
}

.hiddentextblock{
  color: #000e29;
}